.card { 
    min-height: 450px; 
    max-height: 450px;
    max-width: 200px;
    min-width: 200px;
    margin: 25px;

    &__media {
        min-height: 250px; 
        max-height: 250px; 
        background-size: contain !important;
        margin: 25px; 
    }

    &__content {
        min-height: 100px; 
        max-height: 100px;
        text-align: center;
        position: relative;
    }

    &__description {
        position: absolute;
        bottom: 0px;  
        width: 100%;
        margin: 0 -16px;
    }
}